.feed {
    flex: 7;
    margin-left: 20px;
    margin-top: 10px;
    /*height: calc(100vh - 50px);*/
}

.divRow {
    display: flex;
    justify-content: left;
}

.postsBookDiv {
    display: flex;
    flex-direction: row;
}