.feed {
    flex: 7;
    margin-left: 20px;
    margin-top: 10px;
    /*height: calc(100vh - 50px);*/
}

.postsBookDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*flex-wrap: wrap;
    flex-direction: row;*/
}